.total {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.total-text {
  align-self: flex-start;
  justify-self: flex-start;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin-left: 6px;
}

.total-amount {
  align-self: flex-end;
  margin-right: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
}

.buttons {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
  margin-top: 35px;
}

/* .cart-link {
  justify-self: flex-start;
  margin-left: 6px;
} */

.disabled {
  pointer-events: none;
}

.view-bag {
  width: 140px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-color: white;
  border: 1px solid #1d1f22;
  
}

.check-out {
  width: 140px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
  background-color: #5ece7b;
  border: 0;
  margin-right: 20px;
}
/* .checkout-div {
  justify-self: flex-end;
  margin-right: 6px;
} */