.swatch {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.swatch-flex {
  display: flex;
}

.art-box {
  text-align: center;
  height: 50px;
  width: 50px;
  margin: 0 2px;
  border: 1px solid #1d1f22;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.art-Is-Selected-Swatch {
  padding: 5px;
}

.art-Is-Selected {
  background-color: #1d1f22;
  color: white;
}
